@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
:root {
    --roxo: #432473;
    --branco: #faf8f5;
    --amarelo:  #fec35d;
    --corFundo: #FAEEC6;
}

body {
    background-color: var(--corFundo);
}


.bg-custom {
    background-color: var(--roxo);
}

nav {
    font-size: 1.75rem;
}

nav .collapse ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 8rem;
}

/*===============CONTEUDO===============*/

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.titulo span {
    color: var(--amarelo);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-self: center;
    gap: 20px;
    max-width: 1250px;
    margin: 0 30px;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: none;
    transition: transform 0.3s ease;
}

.card img {
    height: 350px;
    border-radius: 10px;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.vermais {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--amarelo);
    border: 2px solid var(--amarelo);
    border-radius: 6px;
    position: relative;
  }
  
  .vermais::before {
    position: absolute;
    content: "";
    background: var(--amarelo);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .vermais:hover {
    color: white;
  }
  
  .vermais:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .vermais:hover::before {
    top: -30px;
    left: -30px;
  }

/* ================FOOTER================ */

footer {
    background-color: var(--roxo);
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    margin-top: 50px; /* Retirar depois */
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.insta {
   background-color: #fff;
   border: 1px solid #D237A1;
   padding: 5px;
   position: relative;
   width: 7.2em;
   height: 2em;
   transition: 0.5s;
   font-size: 17px;
   border-radius: 0.4em;
   margin-bottom: 15px;
}
  
.insta p {
   position: absolute;
   top: 0.2em;
   left: 1.8em;
   margin: 0;
   padding: 0;
   transition: .5s;
   color: #D237A1;
}
  
.insta svg {
   position: absolute;
   top: 0.45em;
   right: 0.5em;
   margin: 0;
   padding: 0;
   opacity: 0;
   transition: 0.5s;
   height: 1em;
   fill: #fff
}
  
.insta:hover p {
   left: 0.8em;
   color: #fff
}
  
.insta:hover svg {
  opacity: 1;
}
  
.insta:hover {
   background-color: #D237A1;
}

.whats {
   background-color: #fff;
   border: 1px solid #25D366;
   padding: 5px;
   position: relative;
   width: 7.2em;
   height: 2em;
   transition: 0.5s;
   font-size: 17px;
   border-radius: 0.4em;
}
  
.whats p {
   position: absolute;
   top: 0.2em;
   left: 1.6em;
   margin: 0;
   padding: 0;
   transition: .5s;
   color: #25D366;
}
  
.whats svg {
   position: absolute;
   top: 0.45em;
   right: 0.5em;
   margin: 0;
   padding: 0;
   opacity: 0;
   transition: 0.5s;
   height: 1em;
   fill: #fff
}
  
.whats:hover p {
   left: 0.8em;
   color: #fff
}
  
.whats:hover svg {
   opacity: 1;
}
  
.whats:hover {
   background-color: #25D366;
}

footer .direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    margin-right: 20px;
}

footer .direita ol li {
    list-style: none;
    text-align: center;
    color: white;
}

footer .centro img {
    height: 125px;
}

footer .centro {
    text-align: center;
}

footer .centro p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
}

.linksContato {
    display: flex;
    column-gap: 10px;
}