@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}


:root {
    --roxo: #432473;
    --branco: #faf8f5;
    --amarelo: #fec35d;
    --corFundo: #FAEEC6;
    --cinza-claro: #e0e0e0;
    --cinza-escuro: #4a4a4a;
}

body {
    background-color: var(--branco);
    font-family: 'roboto';
    cursor: url('../img/cursopata.png'), auto;
}

.bg-custom {
    background-color: var(--roxo);
}

nav {
    font-size: 1.75rem;
    cursor: url('../img/cursopata.png'), auto;
}

nav .collapse ul li a:hover {
    text-decoration: underline;
    cursor: url('../img/cursopata.png'), auto;
    
}

.logo {
    width: 8rem;
    cursor: url('../img/cursopata.png'), auto;
    
}

h1 {
    text-align: center;
    margin: 3%;
    color: var(--roxo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

main p {
    margin: 2%;
    font-size: 20px;
    color: black;
    text-align: center;

}
.contribuir{
    color: var(--amarelo);
}


#cards {
    display: flex;
    margin: 0 40px;
    gap: 30px;
    justify-content: center;
}

.cards {
    background-color: var(--cinza-claro);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 550px;
    width: 450px;
}

.cards img {
    width: 100%;
    max-width: 150px;
    height: 220px;
    margin: 10px auto;
    border-radius: 20%;
    border: 2px solid #432473;
}

.titulos {
    margin: 10px;
}

.paragrafos {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
}


.botao {
    width: 100px;
    height: 40px;
    background-color: var(--roxo);
    color: var(--branco);
    margin: 20px auto 0;
    transition: transform 0.2s;
    cursor: url('../img/cursopata.png'), auto;
    border-radius: 5px;
    border: none;

}

.botao:hover {
    background-color: #a996c7;
    transform: scale(1.1);
    cursor: url('../img/cursopata.png'), auto;
}

/* Botão copia e cola */

#texto {
    position: absolute;
    left: -9999px;  /* Esconde a textarea fora da tela */
    width: 1px; /* A textarea terá a largura mínima */
    height: 1px; /* A altura também é mínima */
}

#copiarBtn {
    width: 100px;
    height: 40px;
    background-color: var(--roxo);
    color: var(--branco);
    display: block;
    margin: 45px auto 0;
    transition: transform 0.2s;
    cursor: url('../img/cursopata.png'), auto;
    border-radius: 5px;
    border: none;
}

#copiarBtn:hover {
    background-color: #a996c7;
}

#mensagem {
    margin-top: -15px;
    color: #44247394;    
}

.a {
    color: var(--branco);
    text-decoration: none;
    cursor: url('../img/cursopata.png'), auto;
}

.a:hover {
    background-color: #a996c7;
    cursor: url('../img/cursopata.png'), auto;
}

#voluntarios {
    height: auto;
    background-color: var(--cinza-claro);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    padding: 20px 20px 0;
    cursor: url('../img/cursopata.png'), auto;
    
}

.voluntariotxt{
    padding-top: 10px;
    color: var(--roxo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
}

span {
    color: var(--amarelo);
}

.voluntariop{
    padding-top: 10px;
    font-size: 20px;
}

/* Estilo para a seção "Marcas que fazem a diferença" */
.marcas-diferenca {
    text-align: center;
    padding: 40px 0;
    background-color: var(--roxo);
}

.marcas-diferenca h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--amarelo);
}

.marcas-diferenca p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: var(--branco);
}

/* Estilo para o marquee */
.marquee {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden; 
}

.marquee-container {
    display: flex;
    flex: 0 0 auto;
    width: 200%; /* A largura do container deve ser o dobro da tela para garantir a duplicação */
    animation: marquee 30s linear infinite; /* Animação contínua sem pausas */
}

.marquee img {
    width: 200px; 
    height: auto;
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.marquee img:hover {
    transform: scale(1.1);
}

@keyframes marquee {
    0% {
        transform: translateX(0); /* Início na posição normal */
    }
    100% {
        transform: translateX(-50%); /* Move as imagens para a esquerda até desaparecerem completamente */
    }
}


#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    background-color: var(--roxo);
    width: 150px;
    color: var(--branco);
    text-align: center;
    cursor: url('../img/cursopata.png'), auto;

}

.submit:hover {
    background-color: #a996c7;
    cursor: url('../img/cursopata.png'), auto;

}

input,
textarea {
    width: 80%;
    max-width: 600px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: url('../img/cursopata.png'), auto;

}

#topo {
    display: flex;
    max-width: 150px;
    justify-self: flex-end;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}
  
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}
  
.svgIcon path {
    fill: white;
}
  
.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(20, 20, 20);
    align-items: center;
}
  
.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}
  
.button::before {
    position: absolute;
    bottom: -20px;
    content: "Voltar ao topo";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}
  
.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

footer {
    min-height: 15vh;
    width: 100%;
    background-color: var(--roxo);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: url('../img/cursopata.png'), auto;
}

.linksnav {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
    align-items: center;
}

.linksnav a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: bold;
    cursor: url('../img/cursopata.png'), auto;
}

.linksnav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: url('../img/cursopata.png'), auto;
}

footer figure img {
    height: 150px;
}

#contatos {
    width: 300px;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos p {
    color: var(--branco);
    display: flex;
    justify-content: center;
}

#contatos .botao-contato {
    display: flex;
    justify-content: center;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos .botao-contato img {
    height: 50px;
}

#contatos .botao-contato button {
    border: none;
    background-color: transparent;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos .botao-contato button:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
}

/* ===============MEDIA QUERY=============== */

/* Quebra de linha para dispositivos extra pequenos (0-480px) */
@media (max-width: 480px) {
    #cards {
        flex-direction: column;
    }
    
    .cards {
        border-radius: 30px;
        width: 100%;
    }

    .pix {
        padding: 40px;
    }
    
    .doe_mantimentos {
        margin-bottom: 10px;
    }

    /* ===============BOTAO VOLTAR AO TOPO=============== */
    .button:hover {
        width: 40px;
        transition: none;
    }

    .button:hover .svgIcon {
        transform: none;
        transition: none;
    }

    .button:hover::before {
        font-size: 0;
        opacity: 0;
        transition: none;
    }

    /* ===============FOOTER=============== */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    footer figure {
        order: -1;
        margin-top: 20px;
    }
}

/* Breakpoint de 481px a 768px (para dispositivos médios) */
@media (min-width: 481px) and (max-width: 768px) {
    #cards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        width: 500px;
    }
    
    .pix {
        padding: 40px;
    }
    
    .doe_mantimentos {
        margin-bottom: 10px;
    }

    /* ===============BOTAO VOLTAR AO TOPO=============== */
    .button:hover {
        width: 40px;
        transition: none;
    }

    .button:hover .svgIcon {
        transform: none;
        transition: none;
    }

    .button:hover::before {
        font-size: 0;
        opacity: 0;
        transition: none;
    }

    /* ===============FOOTER=============== */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    footer figure {
        order: -1;
        margin-top: 20px;
    }
}

/* Breakpoint de 769px a 1279px (telas médias) */
@media (min-width: 769px) and (max-width: 1280px) {
    #cards {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        border-radius: 30px;
        height: 500px;
    }

    .cards img {
        height: 200px;
    }

    /* ===============FOOTER=============== */
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    footer figure {
        order: -1;
        margin-top: 20px;
    }

    /* ===============BOTAO VOLTAR AO TOPO=============== */
    .button:hover {
        width: 40px;
        transition: none;
    }

    .button:hover .svgIcon {
        transform: none;
        transition: none;
    }

    .button:hover::before {
        font-size: 0;
        opacity: 0;
        transition: none;
    }
}