@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&family=Roboto:wght@100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --roxo: #432473;
    --branco: #faf8f5;
    --amarelo: #fec35d;
    --corFundo: #FAEEC6;
    --cinza-claro: #e0e0e0;
    --cinza-escuro: #4a4a4a;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--corFundo);
    color: var(--cinza-escuro);
    line-height: 1.6;
    cursor: url('../img/cursopata.png'), auto;
}

/* Header (Navbar) */
body {
    background-color: var(--corFundo);
}


.bg-custom {
    background-color: var(--roxo);
    cursor: url('../img/cursopata.png'), auto;
}

nav {
    font-size: 1.75rem;
}

nav .collapse ul li a:hover {
    text-decoration: underline;
    cursor: url('../img/cursopata.png'), auto;
}

.logo {
    width: 8rem;
    cursor: url('../img/cursopata.png'), auto;
}

/* Estilizacao geral */
h1, h2, p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.amarelo {
    color: var(--amarelo);
}

/* Hero Section */
.hero {
    background-color: var(--roxo);
    color: var(--branco);
    padding: 40px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: var(--amarelo);
    color: var(--roxo);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.hero .btn:hover {
    background-color: #ffe3b5;
    color: var(--roxo);
}

/* Search Section */
.search {
    text-align: center;
    padding: 40px 0;
}
.search h2 {
    color: var(--roxo);
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}
.search .amarelo {
    color: var(--amarelo);
}

.search input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
}

.search button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 1rem;
    margin-left: 10px;
}

.search button:hover {
    background-color: var(--amarelo);
    color: var(--roxo);
}

/* Cards Section */
.cards {
    padding: 40px 0;
    text-align: center;
}

.cards h2 {
    color: var(--roxo);
    font-size: 2rem;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: auto;
    background-color: var(--cinza-claro);
    border-radius: 8px;
    overflow: hidden;
}

.card video {
    cursor: url('../img/cursopata.png'), auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block; /* Remove qualquer espaçamento adicional */
    background-color: var(--cinza-claro);
}

.card .overlay {
    position: absolute;
    bottom: 57px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: url('../img/cursopata.png'), auto;
}

.card .overlay h3 {
    font-size: 1.5rem;
}

.card .overlay p {
    font-size: 1rem;
}

.vermais {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--roxo);
    border: 2px solid var(--roxo);
    border-radius: 6px;
    position: relative;
    cursor: url('../img/cursopata.png'), auto;
}

.vermais::before {
    position: absolute;
    content: "";
    background: #8354C9;
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
    cursor: url('../img/cursopata.png'), auto;
}

.vermais:hover {
    color: white;
}

.vermais:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
    cursor: url('../img/cursopata.png'), auto;
}

.vermais:hover::before {
    top: -30px;
    left: -30px;
    cursor: url('../img/cursopata.png'), auto;
}

/* Responsividade para dispositivos até 768px */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Exibir cards em coluna */
        gap: 30px;
        align-items: center;
    }

    .card {
        width: 90%; /* Ocupa quase toda a largura da tela */
    }

    .card video {
        height: auto; /* Mantem a proporção */
    }
    #form input {
        width: 80%;
    }
}


/* Estilo para a seção "Marcas que fazem a diferença" */
.marcas-diferenca {
    text-align: center;
    padding: 40px 0;
    background-color: var(--roxo);
}

.marcas-diferenca h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--amarelo);
}

.marcas-diferenca p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: var(--branco);
}

/* Estilo para o marquee */
.marquee {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites do container */
    background-color: var(--azul-escuro); /* Fundo escuro para destacar as imagens */
}

.marquee-container {
    display: flex;
    flex: 0 0 auto;
    animation: marquee 30s linear infinite; /* Animação contínua sem pausas */
}

.marquee img {
    width: 200px; /* Ajuste o tamanho das imagens para que fiquem visíveis */
    height: auto;
    transition: transform 0.3s ease;
    margin-right: 20px; /* Espaçamento entre as imagens */
}

.marquee img:hover {
    transform: scale(1.1); /* Aumenta um pouco o tamanho da imagem ao passar o mouse */
}

/* Animação contínua do marquee */
@keyframes marquee {
    0% {
        transform: translateX(0); /* Início na posição normal */
    }
    100% {
        transform: translateX(-100%); /* Move as imagens para a esquerda até desaparecerem completamente */
    }
}

/* Form Section */
#form {
    background-color: var(--branco);
    padding: 40px 0 0;
    text-align: center;
    cursor: url('../img/cursopata.png'), auto;
}
#form h2 {
    color: var(--roxo);
}
.contact-form {
    display: grid;
    gap: 10px;
    justify-items: center;
    cursor: url('../img/cursopata.png'), auto;
}

.contact-form input {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
    cursor: url('../img/cursopata.png'), auto;
}

/* Estilo do upload de arquivo */
.file-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4c1d95;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.file-upload:hover {
    background: #6a5acd;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.file-upload .file-text {
    font-size: 14px;
    text-align: center;
}

/* Pré-visualização da imagem */
.preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 32px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens dentro de cada coluna */
    margin-top: 20px;
    padding: 0 10px; /* Adiciona um pequeno espaçamento lateral */
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura da tela */
    box-sizing: border-box; /* Para garantir que o padding não afete o layout */
}

/* Para telas maiores, as imagens ficam em 3 colunas */
@media (min-width: 1024px) {
    .preview-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas grandes */
    }
}

/* Para telas médias (entre 768px e 1024px), as imagens ficam em 2 colunas */
@media (max-width: 1024px) and (min-width: 768px) {
    .preview-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
}

/* Para telas pequenas (abaixo de 768px), as imagens ficam em 1 coluna */
@media (max-width: 768px) {
    .preview-container {
        grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
}

.image-preview {
    position: relative;
    width: 100%;
    max-width: 200px; /* Limita o tamanho máximo das imagens */
    height: auto;
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    align-items: center;
}

.preview-img {
    width: 100%;
    max-width: 100%; /* Impede que as imagens ultrapassem a largura máxima */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Animação para desaparecer a imagem */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

/* Classe para a animação de fade-out */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Estilo do botão de remoção */
.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s ease;
}

/* Estilo da pré-visualização da imagem */
.preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 32px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens dentro de cada coluna */
    margin-top: 20px;
    padding: 0 10px; /* Adiciona um pequeno espaçamento lateral */
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura da tela */
    overflow: hidden; /* Impede o transbordamento de conteúdo */
}

.image-preview {
    position: relative;
    width: 100%;
    max-width: 200px; /* Limita o tamanho máximo das imagens */
    height: auto;
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    align-items: center;
}

.preview-img {
    width: 100%;
    max-width: 100%; /* Impede que as imagens ultrapassem a largura máxima */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}




/* Mensagem de sucesso */
.success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    visibility: visible; /* Garantir que esteja visível */
}

.success-icon {
    margin-right: 10px;
}

.success-text {
    font-weight: bold;
}


/* Final do upload de imagens */

#topo {
    display: flex;
    max-width: 150px;
    justify-self: flex-end;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
}
  
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}
  
.svgIcon path {
    fill: white;
}
  
.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(20, 20, 20);
    align-items: center;
}
  
.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}
  
.button::before {
    position: absolute;
    bottom: -20px;
    content: "Voltar ao topo";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}
  
.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}
/* ================FOOTER================ */

footer {
    min-height: 15vh;
    width: 100%;
    background-color: var(--roxo);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: url('../img/cursopata.png'), auto;
}

.linksnav {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
    align-items: center;
}

.linksnav a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: bold;
}

.linksnav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: url('../img/cursopata.png'), auto;
}

footer figure img {
    height: 150px;
}

#contatos {
    width: 300px;
}

#contatos p {
    color: var(--branco);
    display: flex;
    justify-content: center;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos .botao-contato {
    display: flex;
    justify-content: center;
    
}

#contatos .botao-contato img {
    height: 50px;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos .botao-contato button {
    border: none;
    background-color: transparent;
    padding: 10px;
    display: flex;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    cursor: url('../img/cursopata.png'), auto;
}

#contatos .botao-contato button:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.3s;
}

/* Breakpoint 768px para dispositivos médios */
@media (max-width: 768px) {
footer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

footer figure {
    order: -1;
    margin-top: 20px;
}
}