@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root {
    --roxo: #432473;
    --branco: #faf8f5;
    --amarelo:  #fec35d;
    --corFundo: #FAEEC6;
    --cinza-claro: #e0e0e0;
    
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: var(--cinza-claro);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px; 
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: visible; /* Permite conteúdo extra */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    color: #432473;
    margin-bottom: 3px;
    text-align: center;
}

.hidden {
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.option {
    background-color: #432473;
    color: white;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.2s ease;
    font-size: 18px;
}

.option:hover {
    background-color: #7957ac;
}

#result-card {
    text-align: center;
    margin-top: 20px;
    overflow-y: auto; /* Adiciona barra de rolagem vertical, se necessário */
    padding: 20px; 
    
}

.result-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    border: 2px solid #432473;
}

.result-area {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.extra-images {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.extra-images img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.extra-images img:hover {
    transform: scale(1.5); 
}

#restart {
    margin-top: 20px;
    padding: 12px;
    background-color: #432473;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.2s ease;
    width: 80%;
}

#restart:hover {
    background-color:  #7957ac;
}

.logo-img {
    max-width: 150px;
    margin-bottom: 20px;
}

.alink {
    color: #fff;
    text-decoration: none;
}

.start-button {
    background-color: #432473;
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.2s ease;
    width: 80%;
}

.start-button:hover {
    background-color:  #7957ac;
}

.start-button a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

/* Estilos adicionais para responsividade */
@media (max-width: 768px) {
    .app-container {
        padding: 15px;
    }

    .card {
        padding: 15px;
        justify-content: center;
        max-width: 350px; /* Tamanho ajustado */
        max-height: 450px; /* Altura ajustada */
    }

    h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .option {
        padding: 12px;
        font-size: 16px;
    }

    .result-image {
        width: 100px;
        height: 100px;
    }

    .result-area {
        font-size: 20px;
    }

    #restart {
        padding: 10px;
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .app-container {
        padding: 15px;
    }

    .card {
        padding: 15px;
        justify-content: center;
        max-width: 300px;
        max-height: 400px;
        height: 400px;
    }

    h3 {
        font-size: 1.6rem;
    }

    .option {
        padding: 10px;
        font-size: 14px;
    }

    .result-image {
        width: 80px;
        height: 80px;
    }

    .result-area {
        font-size: 18px;
    }

    #restart {
        padding: 10px;
        font-size: 14px;
    }

    .start-button {
        padding: 12px;
        font-size: 16px;
    }

    .logo-img {
        max-width: 80px;
    }
}
